<!-- Template -->
<!-- Contentbereich -->
<!--<form>
   <label for="col1">Spalte 1</label>
   <input type="text" id="col1" name="col1" value="#context['col1']#" />
   <label for="col2">Spalte 2</label>
   <input type="text" id="col2" name="col2" value="#context['col2']#" />
   <button id="idBack">Zurück</button>
</form> -->
<form>
	<div>
        <label for="id">ID</label>
        <input type="text" id="id" name="id"  value="#context['id']#" />
    </div>
    <div>
        <label for="Name">Name </label>
        <input type="text" id="Name" name="Name" value="#context['Name']#" />
    </div>
     <div id="idButtonArea" class="clButtonArea">
        <button id="idBack">Zurück</button>
        <button id ="idSave_projekt">Speichern</button>
    </div>
</form>
<!-- EOF -->