<div class="Titel">
    <h2>Kategorie Fehler Form</h2>
</div>

<div class="Main">
    <form>
    <div>
        <label for="id"></label>
        <input type="hidden" id="id" name="id"  value="#context['id']#" />
    </div>

    <div>
        <label for="fehlerID">erkannte Fehler ID</label>
        <select id ="fehlerID" name ="fehlerID">
            @var entry_b;@
            @for loop_i = 0; loop_i < context['fehlerID'].length; loop_i++@
                @entry_b = context['fehlerID'][loop_i];@
            <option value="#entry_b#">#entry_b#</option>
             @endfor@
        </select>
    </div>

    <div>
        <label for="katfehlerID">Kategorie Fehler ID</label>
        <select id ="katfehlerID" name ="katfehlerID">
             @var entry_b;@
            @for loop_i = 0; loop_i < context['katfehlerID'].length; loop_i++@
                @entry_b = context['katfehlerID'][loop_i];@
            <option value="#entry_b#">#entry_b#</option>
             @endfor@
        </select>
    </div>

     <div id="idButtonArea" class="clButtonArea Schalter_form">
        <button id="idBack_kategoriefehler1" class="btn btn-1 btn-1a">Zurück</button>
        <button id ="idSave_kategoriefehler" class="btn btn-1 btn-1a">Speichern</button>
    </div>
</form>
</div>
