<!-- Template -->
<!-- Contentbereich -->
<div class="Titel">
   <h2>Kategorie Fehler List</h2>
</div>

<div class="Main">
   <table>
   <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
   </tr>
   @var entry_a;@
   @var loop_i;@
   @for loop_i = 0; loop_i < context.length; loop_i++@
      @entry_a = context[loop_i];@
      <tr id="#entry_a['id']#">
         <td>#entry_a['id']#</td>
         <td>#entry_a['Name']#</td>
         <td>#entry_a['Type']#</td>
      </tr>
   @endfor@
</table>
</div>

<div class="Schalter">
<button id="idShowListEntry_katfehler" class="btn btn-1 btn-1a">Anzeigen</button>
<button id="idDelete_katfehler" class="btn btn-1 btn-1a">Löschen</button>
<button id="idAnlegen_katfehler" class="btn btn-1 btn-1a">Anlegen</button>
<button id="idZuordnen_katfehler" class="btn btn-1 btn-1a">Zuordnen</button>
<button id="idBack_kategorie" class="btn btn-1 btn-1a">Zurück</button>
</div>
<!-- EOF -->


