<!DOCTYPE html>
<html lang="en">
   <head>
      <title>
         Demonstrator evs / tco / tmg / req
      </title>
      <meta charset="UTF-8" />
   </head>
   <body id="idBody">
      
      <main>
          <div class="Titel">
    <h2>Anmeldung</h2>
</div>

<div class="Main">
    <form>

        <div>
            <label></label>
            <input type="hidden" id="Arbeiter" class="input" name="Arbeiter"  value="0">
        </div>

        <div>
            <label></label>
            <input type="text" id="Email" class="input" name="Email" placeholder="Username" value="#context['Email']#">
        </div>
        <div>
            <label></label>
            <input type="text" id="Password" class="input" name="Password" placeholder="Password" value="#context['Password']#" >
        </div>
        <div ><p id ="failed"></p> </div>
        <div id="idButtonArea" class="clButtonArea Schalter_form">
            <button id ="idSave_anmeldung" class="btn btn-1 btn-1a">Anmelden</button>
            <button id="idBack_fehler1" class="btn btn-1 btn-1a">Zurück</button>
        </div>
    </form>
</div>
      </main>
   </body>
</html>
